<% layout('layouts/boilerplate')%>

    <style>
        .title {
            font-family: 'Times New Roman', Times, serif;
            font-weight: bold;
        }

        #login-btn-submit:hover {
            color: white !important;
        }

        input:focus {
            box-shadow: none !important;
            border: 2px solid #a6d616 !important;
        }
    </style>
    <div class="cont" style="height: 100vh;">
        <div class="d-flex justify-content-center align-items-center flex-column" style="height: 100vh;">
            <div class="p-1 d-flex justify-content-center">
                <img src="/chat_time_logo.png" class="img-fluid" alt="chat time logo" width="100" height="20px">
            </div>
            <div class="d-flex justify-content-center align-items-center">
                <!-- <div class="card border-0 mr-2 text-light "
                    style="width: 30vw; background: linear-gradient(#0d6efd, #0c66ee, #0a52be, #0c54c0, #0a47a1)"> -->
                <div>
                    <div class="card-body p-5">
                        <h3 class="card-title title text-center">Login</h3>
                        <% if(successMessage !==false) { %>
                            <div class="alert alert-success" role="alert">
                                <%= successMessage %>
                            </div>
                            <% } else if(errorMessage !==false) { %>
                                <div class="alert alert-danger" role="alert">
                                    <%= errorMessage %>
                                </div>
                                <% } %>
                                    <form action="/admin" class="mt-5 form" method="POST" style="width: 20vw;">
                                        <input type="text" class="form-control my-5" name="username" id="username"
                                            placeholder="@username" autofocus required>
                                        <input type="password" class="form-control" name="password" id="password"
                                            placeholder="Enter your Password..." autofocus required>
                                        <button type="submit"
                                            class="my-5 col btn btn-outline-success col-12 text-success border-success"
                                            id="login-btn-submit">Submit</button>
                                        <div class="text-center text-disabled">
                                            <p>
                                                <b>Not yet Registered? Signup <a href="/signup"
                                                        class="text-primary">HERE!</a></b>
                                            </p>
                                        </div>
                                    </form>
                    </div>
                </div>
                <div class="col col-lg-auto px-5 text-center">
                    <div class="d-flex justify-content-center">
                        <img id="opening_img" alt="" src="/chat-phone.jpg"
                            class="img-thumbnail img-fluid border-0 my-3">
                    </div>
                    <blockquote cite="">
                        <h5 style="font-family: 'Satisfy', cursive;">
                            <b><i>"...Feel you near with Chat Time"</i></b>
                        </h5>
                    </blockquote>
                </div>
            </div>
        </div>
    </div>