<% layout('layouts/boilerplate')%>

    <!-- CSS -->
    <link rel="stylesheet" href="/login/style.css">

    <div class="cont" style="height: 100vh; overflow: hidden;">
        <div class="loader-cont bg-primary cont d-flex align-items-center justify-content-center"
            style="height: 100vh;">
        </div>
        <div class="admin d-none">
            <div class="admin-header">
                <div class="d-flex">
                    <div class="border border-disabled border-right col-2 p-2 ">
                        <img src="/chat_time_logo.png" class="img-fluid" alt="chat time logo" width="75" height="20px">
                    </div>
                    <div
                        class="col shadow d-flex justify-content-end align-items-center px-5 border-bottom border-warning">
                        <a href="" class="border rounded btn border-primary btn-outline-primary" role="button"
                            style="border-width: 3px !important;">Sign-out</a>
                    </div>
                </div>
                <div class="d-flex" style="height: 100vh;">
                    <div
                        class="col-2 bg-primary py-5 px-1 text-light d-flex justify-content-center flex-column border border-right border-warning">
                        <div class="text-center">
                            <h3 class="">Contacts</h3>
                        </div>
                        <div class="" style="height: 70vh; overflow: hidden;">
                            <% for(let user of users) {%>
                                <li class="col-lg-12">
                                    <a type="btn" href="/admin/<%= user._id %>"
                                        class="btn btn-outline-warning text-light col-lg-12">
                                        <%= user.name %>
                                    </a>
                                </li>
                                <% } %>
                        </div>
                    </div>
                    <div class="col p-5 conversation">
                        <div class="card">
                            <div class="text-center p-5">
                                <h5 class="card-title">Special title treatment</h5>
                                <p class="card-text">With supporting text below as a natural lead-in to additional
                                    content.</p>
                                <a href="#" class="btn btn-primary">Go somewhere</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <script>
        const PRELOADING = "<div class='loader'><i class='fa fa-spin fa-spinner text-light' style='font-size: 50px'></i></div>";

        const container = document.querySelector('.cont');
        const adminCont = document.querySelector('.admin');
        const loaderCont = document.querySelector('.loader-cont');
        loaderCont.innerHTML = PRELOADING;
        setTimeout(() => {
            loaderCont.classList.add('d-none');
            adminCont.classList.remove('d-none');
        }, 1500);
    </script>