<div class="col-3 messages-nav" style="width: 20%;">
    <div style="height: 9vh;" class="d-flex justify-content-start align-items-center text-light px-3">
        <img src="/images/chat_time_logo.png" width="60" height="35" alt="logo">
    </div>
    <% for(let user of users) {%>
        <a href="/landing/<%= user._id %>">
            <div style="height: 5%; width: 100%;" class="d-flex align-items-center px-3 py-4 messages">
                <% if(user._id !== userID) { %>
                    <div class="col-2">
                        <img src="https://th.bing.com/th/id/OIP.4Tyw1sJPJgN6NPt1tdSS0wHaJG?w=134&h=180&c=7&r=0&o=5&dpr=1.3&pid=1.7" alt="" width="25" height="25">
                    </div>
                    <div class="col mx-3 d-flex align-items-center justify-content-start">
                        <span class=""><%= user.name %></span>
                    </div>
                    <% } %>
            </div>
        </a>
        <hr class="my-0">
        <% } %>
</div>