<% layout('landing/layouts/boilerplate')%>

<div class="cont" style="height: 100vh;">
    <div class="loader-cont cont d-flex align-items-center justify-content-center" style="height: 100vh;"></div>
    <div class="d-flex landing-index d-none text-center" style="height: 100vh;">
        <%- include('./partials/_navbar.ejs') %>
        <div class="col landing-right">
            <div class="d-flex flex-column">
                <div class="d-flex justify-content-end p-3" style="height: 8vh;">
                    <div class="dropdown dropstart">
                        <a type="button" class="btn btn-outline-primary border-0" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= userName %>
                            <img src="/images/admin-icon-png-2.png" alt="" height="30" width="30">
                            <i class="fa-solid fa-caret-down"></i>
                            <!-- <i class="fa-solid fa-gear"></i> -->
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                            <li><a class="dropdown-item" href="#">Edit Profile</a></li>
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </div>
                </div>
                <div class="bg-success landing-body p-3" style="border-radius: 15px 0 0 0;  background: linear-gradient(#003380, #003d99, #0047b3, #0052cc, #005ce6); height: 92vh;">
                    <%- include('../partials/flash.ejs') %>
                    Index Page
                </div>
            </div>
        </div>
    </div>
</div>